.chat {
  flex: 0.75;
  background-color: #f6f6f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chatHeader {
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #48489c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatBody {
  width: 100%;
  height: calc(100vh - 140px);
}
.chatFooter {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #48489c;
  justify-content: center;
}
.chatFooter > form {
  width: fit-content;
}
.chatFooter > form > input {
  width: 400px;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 999px;
}
.chatFooter > form > button {
  display: none;
}
