.message {
  display: flex;
  height: fit-content;
  align-items: center;
  margin-bottom: 30px;
}
.message-info {
  position: relative;
  width: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  min-height: 70px;
  height: fit-content;
  background-color: #c2c2c2;
  padding: 35px 60px 30px 35px;
  margin-left: 20px;
}
.message-info > p {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 14px;
}
.message-info > small {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}
.messageReciever {
  background-color: #3d6eca;
  color: #fff;
}
.messageRecieverMessage {
  margin-left: 80%;
}
